<!doctype html>
<html class="no-js" lang="en">
<head>
<% include partials/scripts.ejs %>
</head>
<body>
<!-- Header -->
<% include partials/header.ejs %>

<!-- Background Area Start -->
<div class="slider-area">
  <div class="slider-wrapper">
    <div class="single-slide" style="background-image: url('/images/slider/slider1.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <div class="col-lg-6 col-sm-6">
                  <img src="/images/logo/stott.png" style="max-width: 30%; padding-top: 10px">
                  </div>
                <div class="col-lg-6 col-sm-6">
                  <img class="pull-right" src="/images/logo/Zenga_logo.png" style="max-width: 35%">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide" style="background-image: url('/images/slider/slider2.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <div class="col-lg-6 col-sm-6">
                  <img src="/images/logo/stott.png" style="max-width: 30%; padding-top: 10px">
                </div>
                <div class="col-lg-6 col-sm-6">
                  <img class="pull-right" src="/images/logo/Zenga_logo.png" style="max-width: 35%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slide" style="background-image: url('/images/slider/slider23.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <div class="col-lg-6 col-sm-6">
                  <img src="/images/logo/stott.png" style="max-width: 30%; padding-top: 10px">
                </div>
                <div class="col-lg-6 col-sm-6">
                  <img class="pull-right" src="/images/logo/Zenga_logo.png" style="max-width: 35%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="single-slide" style="background-image: url('/images/slider/slider4.jpg');">
          <div class="slider-content">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
                          <div class="text-content-wrapper">
                            <div class="col-lg-6 col-sm-6">
                              <img src="/images/logo/stott.png" style="max-width: 30%; padding-top: 10px">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                              <img class="pull-right" src="/images/logo/Zenga_logo.png" style="max-width: 35%">
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-slide" style="background-image: url('/images/slider/slider5.jpg');">
        <div class="slider-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
                <div class="text-content-wrapper">
                  <div class="col-lg-6 col-sm-6">
                    <img src="/images/logo/stott.png" style="max-width: 30%; padding-top: 10px">
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <img class="pull-right" src="/images/logo/Zenga_logo.png" style="max-width: 35%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





  </div>
</div>
<!-- Background Area End -->
<!-- About Start -->
<section id="about" class="about-area pt-95 pb-100" >
  <div class="container" >
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-content">
          <h2>O nama</h2>
          <p class="m-0"><strong>Studio</strong> Marina Trifunovic <strong>Mat Pilates</strong> je počeo sa radom jula 2015.godine <strong>sa vizijom da podigne standarde u načinu vežbanja</strong> i pristupu klijentima.


            Misija nam je da, pored treniranja u cilju poboljšanja estetike tela, <strong>prosperirate i kroz zdravstvene aspekte vežbanja</strong>.


            Rad našeg studija temelji se na principima <strong>STOTT PILATES®</strong> škole - svakako <strong>najprestižnije i najcenjenije škole na svetskoj Pilates sceni</strong>.
            <br>

            <br> <strong>Nalazimo se</strong> na Zvezdari, tačnije <strong>na Lionu</strong>, u mirnoj ulici ušuškanoj od buke Bulevara kralja Aleksandra.


            <strong>Prostor</strong> za vežbanje je izuzetno <strong>svetao, sa prirodnom ventilacijom, čist i nov</strong>, nudi sve što vam je potrebno za <strong>maksimalan komfor i ugodnost tokom vežbanja</strong>.

            Pozovite <strong>MatPilates</strong> na <strong>0113837194</strong> ili <strong>0604442990</strong> i zakažite prvi (probni) čas već danas!
          </p>
          <br>
          <a class="banner-btn" href="/about" data-text="Još informacija"><span>Još informacija</span></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-video active">

            <a href="#"><img src="/images/about/studio.jpg" alt="about"></a>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome End -->

<!-- Classes Start -->
<section id="program" class="class-area fix bg-gray pb-100 pt-95">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="section-title text-center">
          <h2>PROGRAM</h2>
          <p> Kod nas u studiju ima raznih programa, svako će sigurno uspeti da uz našu stručnu pomoć pronađe baš ono što mu odgovara  </p>
        </div>
      </div>
    </div>
    <div class="row">
      <% if(prog){ %>
      <% prog.forEach(function (p) { %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-class">
            <a href="/program/<%= p.slug %>"><div class="single-slide hidden-xs" style="background-image: url('/images/class/<%= p.image%>'); width: 100%; height: 250px;"></div>
              <img class="visible-xs" src="/images/class/<%= p.image %>"/>
            </a>
          <div class="single-content">
            <h3><a href="/program/<%= p.slug %>"><%= p.title %></a></h3>
            <ul>
                <li><i class="zmdi zmdi-alarm"></i><%= p.time %> min</li>
            </ul>
          </div>
        </div>
      </div>
      <% })} %>

    </div>

  </div>
</section>
<!-- Class Area End -->

<!-- Trainer Area Start -->
<section id="about" class="about-area pt-95 pb-100" >
  <div class="container" >
    <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-video active">
          <div class="game">
            <a href="#"><img src="/images/about/about.jpg" alt="about"></a>
          </div>
          <div class="video-icon video-hover">
            <a class="video-popup" href="https://www.youtube.com/watch?v=A47zwWsjXgs">
              <i class="zmdi zmdi-play"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-content">
          <h2>Online treninzi</h2>
          <p class="m-0"> Najnovija usluga u našem studiju su ONLINE TRENINZI. Putem mesečne članarine imate neograničen pristup svim treninzima u našoj bazi koja se redovno dopunjuje novim sadržajem. Na taj način možete vežbati bilo kada i bilo gde.
            <br>
            <br>  Idealan način da uštedite vreme i ostanete u dobroj formi.
            <br>
          </p>
          <br>
          <a class="banner-btn" href="/videos" data-text="Još informacija"><span>Još informacija</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Trainer Area End -->
<!-- Pricing Area Start -->
<div id="ponuda" class="pricing-area pt-95 pb-120 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="section-title text-center">
          <h2>PONUDA</h2>
          <p> Termini i cene: </p>
        </div>
      </div>
    </div>
    <div class="row">


      <% if(ponuda) { %>
      <% ponuda.forEach(function (p) { %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-table text-center" style="background-color: #419ba4">
          <div class="table-head" >
            <h2 style="color: whitesmoke" >TRENING</h2>
            <div class="visible-xs"><h1 style="font-size: 36px"><%= p.title %><span></span></h1></div>
            <div class="hidden-xs"><h1><%= p.title %><span></span></h1></div>

          </div>
          <div class="table-body" style="color: whitesmoke">
            <ul>
              <li>
                <%- p.trening %>

              </li>
              <li>
                  <%- p.program %>
              </li>
              <li>
                  <%- p.termin%>

              </li>
            </ul>
            <a href="/ponuda/<%= p.slug%>">Saznaj više</a>
          </div>
        </div>
      </div>
      <% })} %>





    </div>
  </div>
</div>
<!-- Pricing Area End -->
<!-- Gallery Area Start -->
<section id="gallery" class="gallery-area pt-90 pb-100 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="test-content">
          <div class="section-title text-center">
            <h2>Galerija</h2>
            <p>   </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid" style="position: relative; height: 390px;">
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat1 cat3" style="position: absolute; left: 0%; top: 0px;">
          <div class="portfolio-img single-img">
              <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/1.jpg'); width: 380px; height: 275px;"></div>
              <img class="visible-xs visible-md" src="/images/gallery/1.jpg"/>
            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/1.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat2 cat4" style="position: absolute; left: 25%; top: 0px;">
          <div class="portfolio-img single-img">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/2.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/2.jpg"/>
            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/2.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat1 cat4" style="position: absolute; left: 50%; top: 0px;">

          <div class="portfolio-img single-img">
            <div class="single-slide hidden-xs hidden-md"  style="background-image: url('/images/gallery/3.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/3.jpg"/>

            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/3.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat2" style="position: absolute; left: 75%; top: 0px;">
          <div class="portfolio-img single-img ">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/4.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/4.jpg"/>

            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/4.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat2 cat3" style="position: absolute; left: 25%; top: 210px;">
          <div class="portfolio-img single-img image-wrap">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/5.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/5.jpg"/>

            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/5.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat1 cat3" style="position: absolute; left: 50%; top: 210px;">
          <div class="portfolio-img single-img image-wrap">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/6.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/6.jpg"/>
            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/6.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Area End -->


<!-- Client Area Strat -->
<section class="client-area pt-95 pb-50  bg-gray ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="section-title text-center">
          <h2>Utisci klijenata</h2>
          <p> Evo šta su neki od naših klijenata imali da kažu o svojim iskustvima sa nama: </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
          <div class="testimonial-owl">
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Treninzi su stvarno strucni i vrlo ugodni. Sala je prijatna i osvetljena, imamo veliki broj rekvizita na raspolaganju. Osecam se mnogo bolje, a popravila sam i drzanje tela. Sve preporuke za instruktorku Marinu a posebno za program za trudnice.” </p>
                <h6>Marina Mateković</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Melem za dušu, kičmu i telo.” </p>
                <h6>Nataša Todorović</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Pravo uživanje! Osećaj nakon treninga je kao da ste potpuno očistili dušu od svega negativnog! Preporučujem svima!” </p>
                <h6>Snežana Milović Maksimović</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Išla sam na prenatal do samog porodjaja i osećala sam se odlično. Na postnatal sam krenula mesec dana nakon porodjaja i uz odgovarajući program brzo vratila formu. Atmosfera je super a instruktor Marina je pravi profesionalac. Sve preporuke!” </p>
                <h6>Katarina Breka</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Profesionalna usluga. Rezultati vežbanja su maksimalno zadovoljavajći.” </p>
                <h6>Milan Vladičić</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Za Marinu i njen studio sam čula od drugih instruktora i znala sam gde treba otići kad sam ostala u drugom stanju. Vežbala sam kod nje Prenatal i Postnatal. Mogu reći da ima dobrih i izvanrednih instruktora. Ona spada u tu drugu grupu. Sve preporuke!” </p>
                <h6>Jelena Milićević</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>"Zahvaljujući prijatnoj i opuštajućoj atmosferi u MatPilates studiju, kao i posvećenosti trenera svom poslu, uz njihovo konstantno usavršavanje i približavanje samih vežbi, nijedan trening nije isti.

                  Marina vam nikako ne dozvoljava da se tokom časa „uspavate“ jer njena kreativnost u osmišljavanju treninga, kombinacija vežbi i rekvizita svaki trening čini posebno zanimljivim, inspiriše vas i fokusira na ispravno izvođenje svake vežbe. Nakon teninga, uz obavezno opuštanje masažom nekim od rekvizita (a vrlo brzo ćete naći svoj omiljeni) imate osećaj da ste uradili savršenu stvar za svoje telo, uz nalet životne energije.

                  Ja se već sada radujem sledećem treningu!" </p>
                <h6>Tijana Alimpić</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>"Svaki put kada bih krenula na neki od programa za vežbanje vrlo brzo bih i odustajala, brzo bi mi postalo nezanimljivo ili bi motivacija potpuno nestala. U studiju Mat Pilates nisam odustala ni posle 5 meseci, samo je želja za vežbanjem sve jača. Osim što je Pilates način vežbanja koji mi u potpunosti odgovara i gde sam brzo videla rezultate i efekte i po svoje zdravlje i na sam fizički izgled i držanje, tu je i profesionalna i vrlo prijatna instruktorka koja se svakom vežbaču maksimalno posveti. I na kraju, mada ne i najmanje važno, prostor za vežbanje je lepo opremljen i pravi je kutak za uživanje" </p>
                <h6>Ivana Veljović</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>"Kao neko ko veći deo radnog dana provodi za računarom, suočila sam se sa bolovima u leđima, nepravilnim položajem tela, nedostatkom kondicije… Bilo mi je neophodno mesto gde mogu naučiti da vežbam pravilno. Mesto gde nije najvažnije da li izgledate savršeno , već su bitni unutrašnja energija i zadovoljstvo. U prijatnom ambijentu Mat Pilates studija pronašla sam, pre svega, instruktore koji prilagođavaju tempo i način vežbanja osobama sa kojima rade. Pomogli su da vežbanje postane deo moje kulture življenja i da shvatim koliko je važno voditi računa o sebi i svom zdravlju. Mat Pilates studio, hvala na tome!" </p>
                <h6>Maja Tomić</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Kada sam prvi put otisla na trening za trudnice, bila sam odusevljena Marininom profesionalnoscu i znanjem. U trudnoci je jako bitno voditi racuna o sebi, ja sam u trudnocu usla sa viskom kilograma. Uz pomoc Marine sam uspela da se ne ugojim previse u trudnoci i da nemam problema sa ledjima. Ma dosta price! Buduce mame, kojima je trudnoca uredna, OBAVEZNO posetite Marinu i njen pilates za trudnice! Pomaze i godi!” </p>
                <h6>Jelena Dunić</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>"Nije bilo lako na početku da shvatim filozofiju Pilatesa. Činilo se da su vežbe spore i nisu intenzivne, a htela sam što pre da skinem kilažu i zategnem mišiće. Onda sam dala sebi uslov - odlučila sam da idem na Pilates 3 puta nedeljno, i ukoliko u roku od dva meseca ne budem primetila rezultat, onda ću odustati.

                  Rezultate sam počela da primećujem čak i od prvog meseca - mišići su mi postali jači, telo je počelo da se zateže, a i da bude mnogo razgibanije...

                  Postepeno, počela sam i da shvatam tehniku Pilatesa - da je uz sporo i pravilno izvođenje vežbi, pravilno držanje tela, disanje, postižem jačanje dubokih mišića stomaka i leđa, ispravljam leđa, povećavam svoju gipkost i lepo oblikujem telo!

                  Rezultat je fantastičan, jako sam zadovoljna!" </p>
                <h6>Julija Ranić</h6>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Client Area End -->
<!-- Start of Map Area -->
<div class="map-area">
  <!-- google-map-area start -->
  <div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
      <div id="googleMap" style="width:100%;height:380px;"></div>
    </div>
  </div>
</div>
<!-- End of Map Area -->
<!-- Newsletter Area Start
<section class="newsletter-area bg-gray">
  <div class="container">
    <div class="row">
      <div class="newsletter-wrapper fix">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="newsletter-content section-title text-center">
            <h2>MMejling lista</h2>
            <div class="newsletter-form">
              <form action="#" id="mc-form" class="mc-form fix">
                <input id="mc-email" type="email" name="email" placeholder="Enter Your E-mail ID">
                <button id="mc-submit" type="submit" class="default-btn" data-text="submit"><span>submit</span></button>
              </form>
              <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div>
                <div class="mailchimp-success"></div>
                <div class="mailchimp-error"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 Newsletter Area End -->
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs%>

</body>
</html>
