<!doctype html>
<html class="no-js" lang="en">
<head>
<% include partials/scripts.ejs %>
</head>
<body>
<!-- Header -->
<% include partials/header.ejs %>

<!-- Background Area Start -->
<div class="slider-area">
  <div class="slider-wrapper">
    <div class="single-slide" style="background-image: url('/images/slider/slider29.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <img src="/images/logo/stottlogo.jpg" style="max-width: 30%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-slide" style="background-image: url('/images/slider/slider22.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <img src="/images/logo/stottlogo.jpg" style="max-width: 30%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slide" style="background-image: url('/images/slider/slider23.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <img src="/images/logo/stottlogo.jpg" style="max-width: 30%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="single-slide" style="background-image: url('/images/slider/SP_Equipment-33_72dpi-RGB.jpg');">
          <div class="slider-content">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
                          <div class="text-content-wrapper">
                              <img src="/images/logo/stottlogo.jpg" style="max-width: 30%">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <div class="single-slide" style="background-image: url('/images/slider/SP_Equipment-12_72dpi-RGB.jpg');">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-md-12">
              <div class="text-content-wrapper">
                <img src="/images/logo/stottlogo.jpg" style="max-width: 30%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>
<!-- Background Area End -->
<!-- About Start -->
<section id="about" class="about-area pt-95 pb-100" >
  <div class="container" >
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-content">
          <h2>Nešto o nama</h2>
          <p class="m-0">Rad našeg studija temelji se na Stott Pilates® metodi. Sertifikovani smo za Matwork - vežbe na podlogama, odnosno matovima, po čemu je studio i dobio naziv. Možemo se pohvaliti da smo jedni od retkih u Beogradu koji poseduju sertifikat Stott Pilates® škole - svakako najprestižnije i najcenjenije škole na svetskoj Pilates sceni.
            <br>
            <br>  Nalazimo se na Zvezdari, tačnije na Lionu, u mirnoj ulici ušuškanoj od buke Bulevara kralja Aleksandra. Prostor za vežbanje je izuzetno svetao, sa prirodnom ventilacijom, čist i nov, nudi sve što vam je potrebno za maksimalan komfor i ugodnost tokom vežbanja.
            <br>
          </p>
          <br>
          <a class="banner-btn" href="/about" data-text="Još informacija"><span>Još informacija</span></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-video active">
          <div class="game">
            <a href="#"><img src="/images/about/about.jpg" alt="about"></a>
          </div>
          <div class="video-icon video-hover">
            <a class="video-popup" href="https://www.youtube.com/watch?v=A47zwWsjXgs">
              <i class="zmdi zmdi-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome End -->

<!-- Classes Start -->
<section id="program" class="class-area fix bg-gray pb-100 pt-95">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="section-title text-center">
          <h2>PROGRAM</h2>
          <p> Kod nas u studiju ima raznih programa, svako će sigurno uspeti da uz našu stručnu pomoć pronađe baš ono što mu odgovara  </p>
        </div>
      </div>
    </div>
    <div class="row">
      <% if(prog){ %>
      <% prog.forEach(function (p) { %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-class">
            <a href="/program/<%= p.slug %>"><div class="single-slide hidden-xs" style="background-image: url('/images/class/<%= p.image%>'); width: 100%; height: 250px;"></div>
              <img class="visible-xs" src="/images/class/<%= p.image %>"/>
            </a>
          <div class="single-content">
            <h3><a href="/program/<%= p.slug %>"><%= p.title %></a></h3>
            <ul>
              <li><i class="zmdi zmdi-face"></i>Marina</li>
              <li><i class="zmdi zmdi-alarm"></i>10.00-12:00</li>
            </ul>
          </div>
        </div>
      </div>
      <% })} %>

    </div>

  </div>
</section>
<!-- Class Area End -->

<!-- Trainer Area Start -->
<section id="about" class="about-area pt-95 pb-100" >
  <div class="container" >
    <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-video active">
          <div class="game">
            <a href="#"><img src="/images/about/about.jpg" alt="about"></a>
          </div>
          <div class="video-icon video-hover">
            <a class="video-popup" href="https://www.youtube.com/watch?v=A47zwWsjXgs">
              <i class="zmdi zmdi-play"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="about-content">
          <h2>Online treninzi</h2>
          <p class="m-0">Rad našeg studija temelji se na Stott Pilates® metodi. Sertifikovani smo za Matwork - vežbe na podlogama, odnosno matovima, po čemu je studio i dobio naziv. Možemo se pohvaliti da smo jedni od retkih u Beogradu koji poseduju sertifikat Stott Pilates® škole - svakako najprestižnije i najcenjenije škole na svetskoj Pilates sceni.
            <br>
            <br>  Nalazimo se na Zvezdari, tačnije na Lionu, u mirnoj ulici ušuškanoj od buke Bulevara kralja Aleksandra. Prostor za vežbanje je izuzetno svetao, sa prirodnom ventilacijom, čist i nov, nudi sve što vam je potrebno za maksimalan komfor i ugodnost tokom vežbanja.
            <br>
          </p>
          <br>
          <a class="banner-btn" href="/about" data-text="Još informacija"><span>Još informacija</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Trainer Area End -->
<!-- Pricing Area Start -->
<div id="ponuda" class="pricing-area pt-95 pb-120 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="section-title text-center">
          <h2>Cenovnik</h2>
          <p> Cene za grupne treninge: </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>TRENING</h2>
            <div class="hidden-xs">
            <h1>INDIVIDUALNI<span></span></h1>
            </div>
            <div class="visible-xs">
              <h1 style="font-size: 36px">INDIVIDUALNI<span></span></h1>
            </div>
          </div>
          <div class="table-body">
            <ul>
              <li>1 trening - 3000rsd</li>
              <li>Trener - Marina Ninic Trifunovic <br>
                Program - Stott pilates® mat&equipment, Zenga™, <br> Prenatal&Postnatal, Barre&Trampoline</li>
              <li>termini po dogovoru</li>
            </ul>
            <a href="/program/individualni-trening">Saznaj više</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>TRENING</h2>
            <h1>MINI GRUPA<span></span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li>12 treninga 7800rsd <br>
                8 treninga 6500rsd<br>
                1 trening 950rsd</li>
              <li>Program Stott Pilates® matwork, Barre & Trampoline <br>
                termini: svaki radni dan 18h, 19h, 20.15h</li>
              <li>Program Prenatal & Postnatal <br>
                termini: ponedeljak i petak 12.15h</li>
            </ul>
            <a href="/program/mini-grupa">Saznaj više</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-sm col-xs-12">
        <div class="single-table text-center">
          <div class="table-head">
            <h2>TRENING</h2>
            <h1>ONLINE<span></span></h1>
          </div>
          <div class="table-body">
            <ul>
              <li>2400rsd</li>
              <li>neograničen pristup online treninzima na mesečnom nivou</li>
              <li>  <br>
                </li>
            </ul>
            <a href="/program/online-trening">Saznaj više</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing Area End -->
<!-- Gallery Area Start -->
<section id="gallery" class="gallery-area pt-90 pb-100 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="test-content">
          <div class="section-title text-center">
            <h2>Galerija</h2>
            <p> Bacite pogled na naš studio  </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid" style="position: relative; height: 390px;">
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat1 cat3" style="position: absolute; left: 0%; top: 0px;">
          <div class="portfolio-img single-img">
              <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/1.jpg'); width: 380px; height: 275px;"></div>
              <img class="visible-xs visible-md" src="/images/gallery/1.jpg"/>
            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/1.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat2 cat4" style="position: absolute; left: 25%; top: 0px;">
          <div class="portfolio-img single-img">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/2.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/2.jpg"/>
            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/2.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat1 cat4" style="position: absolute; left: 50%; top: 0px;">

          <div class="portfolio-img single-img">
            <div class="single-slide hidden-xs hidden-md"  style="background-image: url('/images/gallery/3.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/3.jpg"/>

            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/3.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat2" style="position: absolute; left: 75%; top: 0px;">
          <div class="portfolio-img single-img ">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/4.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/4.jpg"/>

            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/4.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat2 cat3" style="position: absolute; left: 25%; top: 210px;">
          <div class="portfolio-img single-img image-wrap">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/5.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/5.jpg"/>

            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/5.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 grid-item cat1 cat3" style="position: absolute; left: 50%; top: 210px;">
          <div class="portfolio-img single-img image-wrap">
            <div class="single-slide hidden-xs hidden-md" style="background-image: url('/images/gallery/6.jpg'); width: 380px; height: 275px;"></div>
            <img class="visible-xs visible-md" src="/images/gallery/6.jpg"/>
            <div class="gallery-icon">
              <a class="image-popup" href="/images/gallery/6.jpg">
                <i class="zmdi zmdi-zoom-in"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Area End -->


<!-- Client Area Strat -->
<section class="client-area pt-95 pb-50  bg-gray ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <div class="section-title text-center">
          <h2>Utisci klijenata</h2>
          <p> Evo šta su neki od naših klijenata imali da kažu o svojim iskustvima sa nama: </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
          <div class="testimonial-owl">
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Treninzi su stvarno strucni i vrlo ugodni. Sala je prijatna i osvetljena, imamo veliki broj rekvizita na raspolaganju. Osecam se mnogo bolje, a popravila sam i drzanje tela. Sve preporuke za instruktorku Marinu a posebno za program za trudnice.” </p>
                <h6>Marina Mateković</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Melem za dušu, kičmu i telo.” </p>
                <h6>Nataša Todorović</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Pravo uživanje! Osećaj nakon treninga je kao da ste potpuno očistili dušu od svega negativnog! Preporučujem svima!” </p>
                <h6>Snežana Milović Maksimović</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>„Išla sam na prenatal do samog porodjaja i osećala sam se odlično. Na postnatal sam krenula mesec dana nakon porodjaja i uz odgovarajući program brzo vratila formu. Atmosfera je super a instruktor Marina je pravi profesionalac. Sve preporuke!” </p>
                <h6>Katarina Breka</h6>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="single-testimonial">
                <i class="zmdi zmdi-quote"></i>
                <p>Profesionalna usluga. Rezultati vežbanja su maksimalno zadovoljavajći.” </p>
                <h6>Milan Vladičić</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Client Area End -->
<!-- Start of Map Area -->
<div class="map-area">
  <!-- google-map-area start -->
  <div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
      <div id="googleMap" style="width:100%;height:380px;"></div>
    </div>
  </div>
</div>
<!-- End of Map Area -->
<!-- Newsletter Area Start
<section class="newsletter-area bg-gray">
  <div class="container">
    <div class="row">
      <div class="newsletter-wrapper fix">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="newsletter-content section-title text-center">
            <h2>MMejling lista</h2>
            <div class="newsletter-form">
              <form action="#" id="mc-form" class="mc-form fix">
                <input id="mc-email" type="email" name="email" placeholder="Enter Your E-mail ID">
                <button id="mc-submit" type="submit" class="default-btn" data-text="submit"><span>submit</span></button>
              </form>
              <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div>
                <div class="mailchimp-success"></div>
                <div class="mailchimp-error"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 Newsletter Area End -->
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs%>

</body>
</html>
