<!doctype html>
<html class="no-js" lang="en">
<head>
    <% include partials/scripts.ejs %>
</head>
<body>
<!-- Header -->
<% include partials/header.ejs %>

<!-- Classes Start -->
<section class="class-area fix bg-gray pb-100 pt-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                <div class="section-title text-center">
                    <h2>Online Trening</h2>
                    <p>Pogledajte treninge onlin; Nemate premium nalog - <a href="/ponuda/online">Online ponuda</a> ... </p>
                </div>
            </div>
        </div>
        <div class="row">
            <% if (data){ %>
            <% data.forEach(function (video) {  %>
            <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom: 30px">
                <div class="single-class ">
                    <div class="about-video active">
                        <div class="game">
                            <div class="single-slide hidden-xs hidden-md" style="background-image: url('<%= video.image %>'); width: 360px; height: 200px;"></div>
                            <img class="visible-xs visible-md" src="<%= video.image %>"/>
                        </div>
                        <% if (!video.premium ) {%>


                        <div class="video-icon video-hover ">

                            <a  href="/videos/<%= video._id %>">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                        <% }  else if(user && user.role === 'premium') { %>
                        <div class="video-icon video-hover ">

                            <a  href="/videos/<%= video._id %>">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                        <% } else { %>
                        <div class="video-icon video-hover ">

                            <a  href="/ponuda/online">
                                <i class="zmdi zmdi-lock-outline"></i>
                            </a>
                        </div>
                        <% } %>
                    </div>
                    <div class="single-content">
                        <% if(!video.premium){%>
                        <h3><a href="/videos/<%= video._id %>"><%= video.title %></a></h3>
                        <%} else if(user && user.role === 'premium') { %>
                        <h3><a href="/videos/<%= video._id %>"><%= video.title %></a></h3>
                        <% } else { %>
                        <h3><%= video.title %></h3>
                        <% } %>

                        <ul style="height: 130px">
                            <li><%- video.description.slice(0,130) %>... <a href="/videos/<%= video._id %>">Više</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% })} %>


        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <% if(current != 1) { %>

                    <a class="banner-btn mt-55" href="?page=<%= current - 1 %>">
                        <i class="fa fa-long-arrow-left"></i>
                    </a>

                <% }  %>
                <% if (pages !== 1) { %>
                <% for(var i=1; i<=pages; i++ ) { %>
               <a class="banner-btn mt-55  " href="?page=<%= i%>"><%= i%></a>

                <%}%>



                <% } %>

                <% if(pages) {    %>
                <% if(current != pages) {    %>

                    <a class="banner-btn mt-55" href="?page=<%= parseInt(current) + 1; %>">
                        <i class="fa fa-long-arrow-right"></i>
                    </a>

                <% }} %>
            </div>
        </div>
    </div>
</section>
<!-- Class Area End -->

<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs%>

</body>
</html>
