<!DOCTYPE html>
<html>
<head>
    <% include ../partials/scripts.ejs %>

    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

</head>
<body class="animsition">
<div class="shop-layout-3" id="page">
    <% include ../partials/header.ejs %>

    <section >
        <div class="container" style="width: 100%">
            <div class="row">
                <% include ../partials/adminheader.ejs %>


                <div class="col-md-8">

                    <div class="container text-left">

                        <div class="row form-contact" style="margin-right: 150px">
                            <div class="row main">
                                <% if(data) { %>

                                <h3 style="padding-bottom: 10px">Korisnik <%= data[0].username %></h3>
                                <table class="shop_attributes table table-striped table-bordered">
                                    <tbody>
                                    <tr style='text-align:left; background-color:#CCC'>
                                        <th>Podaci o korisniku</th>
                                        <th>Članarina</th>
                                        <th>Prisustvo</th>
                                    </tr>

                                    <tr>
                                        <td>
                                            <ul>
                                            <li><%= data[0].firstname %> <%= data[0].lastname %></li>
                                            <li><%= data[0].email %></li>
                                                <li><strong><%= data[0].role%></strong> korisnik</li>
                                            <li>Premium ističe: <%= moment(data[0].expireOn).format("DD MMM YY");%></li>
                                            <li> </li>
                                            <li>Članarina traje do: <%= moment(data[0].membershipExpireOn).format("DD MMM YY");%></li>
                                            <li>Broj termina: <%= data[0].brojTermina %></li>
                                            </ul>


                                        </td>
                                        <td>
                                            <form action="/admin/users/edit/<%= data[0]._id %>" method="post">
                                                <div class="col-md-6">
                                                    <label>Članarina:</label>
                                                    <p>Date: <input type="text" name="clanarina" id="datepick" value="<%= moment(data[0].membershipExpireOn).format("DD MMM YY");%>"></p>
                                                    <label>Broj termina:</label>
                                                    <input class="form-control" name="termin" id="termin" type="text" value="<%= data[0].brojTermina %>">
                                                    <button  type="submit" name="Submit">Update</button>

                                                </div>
                                            </form>


                                        </td>
                                        <td>
                                            <form action="/admin/users/prisustvo/<%= data[0]._id %>" method="post">
                                                <div class="col-md-6">
                                                    <label>Prisustvo:</label>
                                                    <p>Date: <input type="text" name="datepick" id="datepick2"></p>
                                                    <button  type="submit" name="Submit">Update</button>
                                                </div>
                                            </form>

                                        </td>



                                    </tr>


                                    </tbody>
                                </table>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <table class="shop_attributes table table-striped table-bordered">
                                        <tbody>
                                        <tr style='text-align:left; background-color:#CCC'>
                                            <th>Prisustvo</th>

                                        </tr>
                                        <% data[0].prisustvo.reverse().slice(0,12).forEach(function (d) { %>
                                        <tr>

                                            <td>
                                                <%= moment(d).format("DD MMM YYYY");%>
                                            </td>
                                        </tr>
                                        <% })%>
                                        </tbody>
                                    </table>
                                </div>
                                <% } %>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
</div>
<% include ../partials/footer.ejs %>
<script>
    $(function() {
        $('#datepick').datepicker();
    });
    $(function() {
        $('#datepick2').datepicker();
    });
</script>

</body>
</html>



