<!DOCTYPE html>
<html>
<head>
    <% include ../partials/scripts.ejs %>



</head>
<body class="animsition">
<div class="shop-layout-3" id="page">
    <% include ../partials/header.ejs %>

    <section >
        <div class="container" style="width: 100%">
            <div class="row">
                <% include ../partials/adminheader.ejs %>


                <div class="col-md-8">

                    <div class="container text-left">

                        <div class="row form-contact" style="margin-right: 150px">
                            <div class="row main">
                                <h3 style="padding-bottom: 10px">Video Lista</h3>
                                <a  href="/admin/videos/create"><button class="btn btn-brand pill">Novi Video</button></a>
                                <table class="shop_attributes table table-striped table-bordered">
                                    <tbody>
                                    <tr style='text-align:left; background-color:#CCC'>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>URL</th>
                                        <th>Premium</th>
                                        <th>Action</th>
                                    </tr>

                                    <% if(data) { %>
                                    <% data.forEach(function (video) { %>


                                    <tr>
                                        <td><%= video.title %></td>
                                        <td><%= video.description.slice(0,70) %></td>
                                        <td><%= video.url %></td>
                                        <td><%= video.premium %></td>
                                        <td>
                                            <div style="float:left">
                                                <a href="/admin/videos/<%= video._id %>"> <button  style=" width: 40%" class="btn btn-info">Edit</button></a>
                                                <form method="post" action="/admin/videos/delete/<%= video._id %>" style="float:right">
                                                    <input type="submit"  class="btn btn-danger" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                                                    <input type="hidden" name="_method" value="DELETE" />
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <% })} %>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
</div>
<% include ../partials/footer.ejs %>

</body>
</html>



